{% extends 'accounts/base_accounts.html' %}

{% block title %}
  {% if validlink %}
    Modification du compte {{ form.user.username }}
  {% else %}
    Nouveau mot de pass
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Modification du mot de passe de @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'boards/includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Réinitialiser le mot de passe</button>
            </form>
          {% else %}
            <h3 class="card-title">Nouveau mot de passe</h3>
            <div class="alert alert-danger" role="alert">
              Mot de pass non valide, tu peux recommencer...
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Proposer un autre mot de passe</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}