{% extends 'boards/base_boards.html' %}

{% block title %}Réinitialisé !{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Réinitialisation du mot de passe</a></li>
  <li class="breadcrumb-item active">Succès</li>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>Ok</strong> Ton mot de passe vient d'être mis à jour.
  </div>
  <a href="{% url 'accueil' %}" class="btn btn-secondary">Table des matières</a>
{% endblock %}