{% extends 'accounts/base_accounts.html' %}

{% block title %}Réinitialisation mp{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Oubli du mot de pass</h3>
          <p>A quelle adresse mail est associé votre compte ?</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'boards/includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Recevoir le mail de réinitialisation</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}