/* Common styles */
body {
  font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: #922866;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  margin-right: 3px;
}

.clearfix {
  margin: 30px;
}

.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #9C0000;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

/* App styles */
.title {
  text-align: center;
  margin: 10px;
}

.calendar {
  position: relative;
  background: white;
  padding: 2em 1.5em;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin: auto;
  width: 90%;
  font-size: 13px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px -2px #17a2b8; 
  box-shadow: 0px 0px 9px -2px #17a2b8;
}
/* de là */
.calendar::before,
.calendar::after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(153,1,71,0.62);
  transform: rotate(-3deg);
  }

.calendar::after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
  }
/* à la */

.calendar tr, .calendar td {
  border: 0.5px #17a2b8;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 15px; 
  color: #61224a ;
}

.calendar td {
  width: 200px;
  height: 65px;
  padding: 5px 0px 0px 5px; /* rembourrage top right bottom left */
}


.month {
  font-size: 25px;
  color: #61224a ;
}

.date {
  font-size: 16px;
  color: #990147 ;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #9C0000 ;/* le vert : #17a2b8 */
}