
<div id="tabs" class="container">
  <ul>
    <li><a href="#tabs-1">6ème</a></li>
    <li><a href="#tabs-2">5ème</a></li>
    <li><a href="#tabs-3">4ème</a></li>
    <li><a href="#tabs-3">3ème</a></li>
    <li><a href="#tabs-3">2nde</a></li>
    <li><a href="#tabs-3">1ère</a></li>
    <li><a href="#tabs-3">Tle</a></li>
  </ul>
  <div id="tabs-1">
    <div id="accordion">
        <div class="group">
            <h3>1 - Nombres entiers nombres décimaux | 2.5 semaines</h3>
        <div> Attendus : 
            <ul><li>Ecriture décimale d’un nombre, fraction décimale</li>
                <li>Demi-droite graduée</li>
                <li>Ranger, encadrer et intercaler des nombres</li>
            </ul>
            Réinvestissements :
            <ul><li>Calcul mental : \(\times 10, \times 100, \div 10, \div100\)</li>
                <li>Echelles (cf. DM Véronique)</li>
            </ul>
            </div>
        </div>
        
        <div class="group">
            <h3>2 - Droites parallèles – droites perpendiculaires | 2.5 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Droite, demi-droite, segment, distance, milieu</li>
                <li>Droites perpendiculaires</li>
                <li>Distance d’un point à une droite</li>
                <li>Droites parallèles et propriétés</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(geogebra\)</li>
                <li>Constructions : parallèles, perpendiculaires</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>3 - Addition, soustraction et multiplication | 3.5 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Vocabulaire</li>
                <li>Propriétés et utilisation des parenthèses</li>
                <li>Différents modes de calcul : mental, posé, instrumenté</li>
                <li>Techniques opératoires</li>
                <li>Ordre de grandeur et vraisemblance d’un résultat</li>
                <li>Problèmes sur les durées</li>
                <li>Changement d’unités</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(tableur\)</li>
                <li>Tâche complexe : proportionnalité et multiplication</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>4 - Cercles- polygones | 3 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Vocabulaire</li>
                <li>Définition et vocabulaire du cercle</li>
                <li>Polygones : Construction de triangles et triangles particuliers</li>
                <li>Quadrilatères particuliers : parallélogramme, losange, rectangle et carré (définitions)</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(scratch\)</li>
                <li>Constructions : polygones</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>5 - Division | 2.5 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Division euclidienne</li>
                <li>Critères de divisibilité</li>
                <li>Notion de quotient</li>
                <li>Division décimale (nombre décimal par nombre entier)</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(scratch\)</li>
                <li>Tâche complexe : proportionnalité et division</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>6 - Angles | 2 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Définition</li>
                <li>Utilisation d’un rapporteur</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(scratch\)</li>
                <li>Constructions : pavages</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>7 - Ecriture fractionnaire | 2 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Définition du quotient</li>
                <li>Quotients égaux</li>
                <li>Multiplier un nombre par une fraction</li>
                <li>Pourcentage d’un nombre</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(tableur\)</li>
                <li>Tâche complexe : proportionnalité et quotient</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>8 - Symétrie axiale | 2 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Symétrique d’une figure</li>
                <li>Symétrique d’un point</li>
                <li>Médiatrice d’un segment</li>
                <li>Axe de symétrie : Propriété des polygones particuliers</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(geogebra\)</li>
                <li>Constructions : symétrique de figures</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>9 - Synthèse de la proportionnalité | 2 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Reconnaître la proportionnalité</li>
                <li>Tableau de proportionnalité</li>
                <li>Graphique et proportionnalité</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(scratch\)</li>
                <li>Tâche complexe : tarif ciné avec et sans abonnement</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>10 - Axes de symétrie | 2 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Axes de symétrie d’une figure</li>
                <li>Propriété des polygones particuliers</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(geogebra\)</li>
                <li>Constructions : angles et symétrie dans les triangles</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>11 - Repérage dans l'espace | 1 semaine</h3>
            <div> 
            Attendus : 
            <ul><li>Repérer un point dans le plan</li>
                <li>Différentes vues d’un solide</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(geogebra\)</li>
                <li>Constructions : perspective du cube, du tétraèdre</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>12 - Solides | 2 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Observation de différents solides</li>
                <li>Le parallélépipède rectangle et prisme droit</li>
                <li>Notion, unités et calcul de volume</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(geogebra\)</li>
                <li>Constructions : patron de solides</li>
            </ul>
            </div>
        </div>

        <div class="group">
            <h3>13 - Organisation de données | 2 semaines</h3>
            <div> 
            Attendus : 
            <ul><li>Série statistique</li>
                <li>Tableau des effectifs</li>
                <li>Représentation par des diagrammes</li>
            </ul>
            Réinvestissements :
            <ul><li>Manipulations : \(tableur\)</li>
                <li>Constructions : diagrammes</li>
            </ul>
            </div>
        </div>
    </div>
</div></div>
