{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <header class="page-header">
      <div class="container">
          <h1><a href="/">Le blog : base</a></h1>
      </div>
    </header>
    <main class="container">
        <div class="row">
            <div class="col">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </main>
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1omSt6uTjv5igNFs0J6uDjVtHQ58JbFOs-utXKul4RUY&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=400'
        width='90%' height='400' webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="allowfullscreen" frameborder='0'>
        </iframe>


        <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1ZAFWrZ6UDEWOq7vNsb6HssgFIlv_O-ugz-R4iNPRpoU&font=Default&lang=en&initial_zoom=2&height=450'
        width='90%' height='450' webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="allowfullscreen" frameborder='0'>
        </iframe>
</body>
</html>